<h1>詳細ページ</h1>

<p>名前（性）：<span><%= @customer.first_name %></span></p>
<p>名前（名）：<span><%= @customer.last_name %></span></p>
<p>フリガナ（セイ）：<span><%= @customer.first_name_kana %></span></p>
<p>フリガナ（メイ）：<span><%= @customer.last_name_kana %></span></p>
<p>メールアドレス：<span><%= @customer.email %></span></p>
