<h1>宿泊施設の詳細</h1>

<div class="row">
  <div class="col-md-10 col-lg-4">
    <div class="mb-3">
      <% if @room.image.attached? %>
        <%= image_tag @room.image, style: "width:100%;" %>
      <% else %>
        <%= image_tag 'no_image', style: "width:100%;" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-responsive d-none d-md-block">
      <tbody>
        <tr>
          <th width=250>ホテル名</th>
          <td width=550><%= @room.hotel.hotel_name %></td>
        <tr>
        <tr>
          <th>部屋名</th>
          <td><%= @room.room_name %></td>
        <tr>
          <th>空室日</th>
          <td><%= @room.booking_date %></td>
        </tr>
        <tr>
          <th>部屋詳細</th>
          <td><%= @room.room_details %></td>
        </tr>
        <tr>
          <th>金額</th>
          <td>&yen; <%= @room.price.to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-responsive d-block d-md-none">
      <tbody>
        <tr>
          <td width="600">
            <div class="h5">ホテル名:</div>
            <div><%= @room.hotel.hotel_name %></div>
          </td>
        <tr>
        <tr>
          <td>
            <div class="h5">部屋名:</div>
            <div><%= @room.room_name %></div>
          </td>
        <tr>
          <td>
            <div class="h5">空室日:</div>
            <div><%= @room.booking_date %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="h5">部屋詳細:</div>
            <div><%= @room.room_details %></div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="h5">金額:</div>
            <div><%= @room.price %></div>
          </td>
        </tr>
        <p><%= link_to "施設一覧へ戻る", hotels_path %></p>
      </tbody>
    </table>
  </div>
</div>

<div class="border-bottom mt-2 mb-5 d-none d-md-block"></div>

<div class="row">
  <div class="col-md-4">
    <h4>コメント、レビューを残す</h4>
    <div class="mb-4">
      <%= form_with model: [@hotel, @comment], url: hotel_comments_path(@hotel), local: false do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control mb-2" %>
         <div class="form-group row" id="star">
          <%= f.label :star,'評価 ', class: 'col-md-3 col-form-label' %>
          <div id="star"></div>
         </div>
      <!-- 評価javascript -->
      <script>

        $('#star').raty({
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',

          scoreName: 'comment[star]',
          half: false,
        });
      </script>
        <%= f.submit "入力する", class: "btn btn-outline-secondary btn-block" %>
      <% end %>
    </div>
  </div>

  <div class="col-md-8" id="comments">
    <%= render partial: 'public/comments/comments', locals: {hotel: @hotel, comments: @comments} %>
  </div>
</div>