
<h2><%= @last_name %> さま</h2>

<p>この度は、cancel matchingでのご予約を承りました。</p>
<p>当日はお気を付けてお越し下さいませ。</p>

<p>予約日</p>
<%= @booking.booking_date %>
<p>チェックイン時間</p>
<%= @booking.time.strftime('%H:%M') %>
<p>人数</p>
<%= @booking.number_of_people %> 人

<p>ホテル名</p>
<%= @booking.room.hotel.hotel_name %>

<p>部屋</p>
<%= @booking.room.room_name %>

<p>cancel matching</p>

