  <div class="row">
    <!--<div class="col-sm-10 offset-sm-5 col-md-8 offset-md-2 col-lg-6 offset-lg-3">-->

<h4><%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細</h4>

<table class="table">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td><%= @customer.id %></td>
    <td><%= @customer.first_name %><%= @customer.last_name %></td>
    <td><%= @customer.email %></td>
    <td><%= link_to "退会処理", admin_customer_path(@customer.id), method: :delete, class: "btn btn-outline-danger", "data-confirm" => "本当に退会させますか？" %></td>
    </tr>
  </tbody>
</table>
    </div>
  </div>
</div>