 <div class="row">
    <div class="col-sm-10 offset-3 col-md-10 offset-md-3 col-lg-12 offset-lg-3">
      <h1>レビュー一覧</h1>

    <% @rooms.each do |room| %>
     <% room.hotel.comments.each do |comment| %>
      <div>
        <span class="mr-4"><%= comment.customer.first_name %></span>
        <span><%= l(comment.created_at, format: :long) %></span>
        <span>評価 :<%= comment.star%>点</span>
        <div id="star-rate-<%= comment.id%>"></div>
        <script>
          $('#star-rate-<%= comment.id%>').raty({
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          half      : false,
          readOnly: true,
          score: <%= comment.star %>,
          });
        </script>
        <%= link_to "削除", admin_review_path(comment), method: :delete, class: "btn btn-outline-danger btn-sm", "data-confirm" => "本当に削除しますか？" %>
      </div>
      <% end %>
    <% end %>

    </div>
 </div>