<!DOCTYPE html>
<html>
  <head>
    <title>PfApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/c3fd8eb30a.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body class="d-flex flex-column">
  <header style="background-color: #800000;">
    <nav class="navbar navbar-expand-md">
      <div class="container">
          <%= link_to "cancel matching", root_path, class: "navbar-brand p-3 text-white" %>
          <i class="fa-solid fa-cake-candles fa-2x" style="color:white;"></i>


        <div class ="collapse navbar-collapse">
          <ul class = "navbar-nav ml-auto">
            <% if customer_signed_in? %>
               <p class="text-light pr-5">ようこそ<%= current_customer.last_name %>さん</p>

                <%= link_to 'マイページ',customers_mypage_path, class: "btn btn-outline-light" %>
                <%#= link_to '商品一覧',  class: "btn btn-outline-light" %>
                <%#= link_to 'カート', class: "btn btn-outline-light" %>
                <%= link_to 'ログアウト',  destroy_customer_session_path, method: :delete, class: "btn btn-outline-light" %>

            <% elsif admin_signed_in? %>
                <%= link_to '新規投稿',  new_admin_booking_path, class: "btn btn-outline-light" %>
                <%= link_to '投稿一覧', admin_bookings_path, class: "btn btn-outline-light" %>
                <%#= link_to '注文履歴一覧', class: "btn btn-outline-light" %>
                <%#= link_to 'ジャンル一覧', class: "btn btn-outline-light" %>
                <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-outline-light" %>

            <% else %>
                <%= link_to "ゲストログイン", customers_guest_sign_in_path, class: "btn btn-outline-light", method: :post %>
                <%= link_to 'About', homes_about_path, class: "btn btn-outline-light" %>
                <%= link_to '新規登録',   new_customer_registration_path,class: "btn btn-outline-light" %>
                <%= link_to 'ログイン', new_customer_session_path,class: "btn btn-outline-light" %>
                <%= link_to 'ホテル側ログイン', new_admin_session_path, class: "btn btn-outline-light" %>


            <% end %>


            </div>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <body>
  <%# deivseのフラッシュメッセージを表示 %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
